{% extends 'education_app/base.html' %}
{% load static %}

{% block title %}
    Студент {{ student.user.get_full_name }}
{% endblock %}

{% block body %}
    <h1>Студент {{ student.user.get_full_name }}</h1>
    <h4 class="mt-3">На сайте с</h4>
    <span>{{ student.user.date_joined|date:'d.m.Y' }}</span>
    <h4 class="mt-3">О себе</h4>
    {{ student.about|linebreaks }}
    <h4 class="mt-3">Курсы</h4>
    {% include 'education_app/student_courses.html' with course_entries=student.course_entries_with_courses.all %}
{% endblock %}
