{% extends 'base.html' %}
{% block title %}
{{ post['title'] }}
{% endblock %}
{% block body %}
<div class="card post-card">
    <div class="card-body">
        <h5 class="card-title">{{ post['title'] }}</h5>
        <div class="post-card__date-time text-muted">{{ post['date_time'].strftime('%d.%m.%Y %H:%M') }}</div>
        <img class="card-img-top" src="{{ url_for('static', filename=post['img_src']) }}" alt="Изображение">
        <p class="card-text text-justify">{{ post['text'] }}</p>
        {% with tags=post['tags'] %}
            {% include "post_tags.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}