.navbar {
    background-image: url(../img/bg_img.png);
}

.navbar .navbar-brand {
  font-size: 26px;
}

.post-card__date-time {
    margin-bottom: 5px;
    margin-top: -10px;
    font-size: 14px;
}

.post-card__tags {
    margin-bottom: 5px;
    margin-top: -15px;
    font-size: 14px;
}

.post-card-deck {
    margin-bottom: 20px;
}